# Save as "dbt.env" after updating below
# Then run `# run `set -a; source dbt.env; set +a` in the terminal

DBT_PROFILES_DIR=./
DBT_ENV_SECRET_SNOWFLAKE_ACCOUNT=
DBT_ENV_SECRET_SNOWFLAKE_USER=
DBT_ENV_SECRET_SNOWFLAKE_PASSWORD=